In [ ]:
import pandas as pd

import numpy as np

In [2]:
import pandas as pd

import numpy as np

pyarr=np.array([1,2,3,4,5])
pyser=pd.Series(pyarr)

print(pyser)

0    1
1    2
2    3
3    4
4    5
dtype: int64

. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [5]:
import pandas as pd

ds=pd.Series([1,2,3,4,4])

print(type(ds))

print(ds.tolist())
print(type(ds.tolist()))

<class 'pandas.core.series.Series'>
[1, 2, 3, 4, 4]
<class 'list'>

Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [9]:
ds=pd.Series([2,4,6,8,10])
ds1=pd.Series([1,3,5,7,9])
print ("add two Series")
print(ds+ds1)
print("Substract two Series ")
print(ds-ds1)

add two Series
0     3
1     7
2    11
3    15
4    19
dtype: int64
Substract two Series
0    1
1    1
2    1
3    1
4    1
dtype: int64

Write a Pandas program to compare the elements of the two Pandas Series

In [12]:
ds=pd.Series([2,4,6,8,10])
ds1=pd.Series([1,3,5,7,9])

print(ds==ds1)

print(ds>ds1)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool

Write a Pandas program to convert a dictionary to a Pandas series.

In [13]:
mydict={'a':100,'b':200,'c':300,'d':400,'e':500}

py=pd.Series(mydict)

print(py)

a    100
b    200
c    300
d    400
e    500
dtype: int64

. Write a Pandas program to convert a NumPy array to a Pandas series.
Sample Series: 
  NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
myarr=np.array([10,20,30,40,50])
py=pd.Series(myarr,)

print(py)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

Write a Pandas program to change the data type of given a column or a Series.

In [20]:
ds=pd.Series([100,200,"Python",300,400])

print('orginal Data Type\n',ds)

ds1=pd.to_numeric(ds,errors='coerce')
print("Change the said data type to numeric\n",ds1)

orginal Data Type
 0       100
1       200
2    Python
3       300
4       400
dtype: object
Change the said data type to numeric
 0    100.0
1    200.0
2      NaN
3    300.0
4    400.0
dtype: float64

Write a Pandas program to convert the first column of a DataFrame as a Series.

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [32]:
df=pd.DataFrame([[1,2,3],[2,5,6],[3,6,8],[4,9,12]],columns=["col1","col2","col3"])
df.iloc[:,0]

0    1
1    2
2    3
3    4
Name: col1, dtype: int64

9 :  Write a Pandas program to convert a given Series to an array.
Sample Output: 
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

In [33]:
ds=pd.Series([100,200,"python",300.12,400])
print("Original Data Series:\n",ds)
pyarr=np.array(ds)
print("Series to an array\n")
print(pyarr)

Original Data Series:
 0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array

[100 200 'python' 300.12 400]